$rcablue: #004c97;

$rcablack1: #333f48;
$rcablack2: #75787B;
$rcablack3: #C8C9C7;

//blacks
$k99: #0B0204;
$k95: #1D1818;
$k90: #241F1E;
$k85: #363333;
$k80: #413E3E;
$k75: #4B4848;
$k70: #565353;
$k65: #605D5D;
$k60: #696666;
$k55: #737171;
$k50: #7D7B7B;
$k45: #878585;
$k40: #929090;
$k35: #9E9C9C;
$k30: #AAA8A8;
$k25: #B6B4B4;
$k20: #C2C1C1;
$k18: #C8C6C6;
$k15: #CFCECE;
$k12: #D7D6D6;
$k10: #DDDCDC;
$k08: #E2E1E1;
$k05: #ECEBEB;
$k02: #F5F5F5;
