@font-face {
  font-family: "MuseoSans";
  src: url('../fonts/MuseoSans_100.otf');
  font-weight: 100;
}

@font-face {
  font-family: "MuseoSans";
  src: url('../fonts/MuseoSans_300.otf');
  font-weight: 300;
}

@font-face {
  font-family: "MuseoSans";
  src: url('../fonts/MuseoSans_500.otf');
  font-weight: 500;
}

@font-face {
  font-family: "MuseoSans";
  src: url('../fonts/MuseoSans_700.otf');
  font-weight: 700;
}

@font-face {
  font-family: "MuseoSans";
  src: url('../fonts/MuseoSans_900.otf');
  font-weight: 900;
}