@import '_fonts';
@import '_colors';

body {
	background: $k05;

	* {
		font-family: "MuseoSans", sans-serif;
	}

	header {
		background: $rcablue;
		padding: 0;

		.rcalogo {
			height: 40px;
			margin: 24px;
		}

		.poweredby {
			float: right;
			padding: 32px;

			border-left: solid 1px rgba(255,255,255,0.3);
			cursor: pointer;

			&:hover {
				background: rgba(0,0,0,0.08);
			}

			h5 {
				margin: 0 24px;
				display: inline-block;

				color: white;
				font-weight: 100;

				opacity: 0.8;

			}
		}

		.sslogo {
			height: 24px;
		}
	}

	.intro {
		padding-top: 9em;
		padding-bottom: 6em;

		background-image: linear-gradient(to bottom, rgba(0, 5, 15, 0.6), rgba(0, 5, 15, 0.6)), url('../images/intro2.jpg');
		background-size: cover;
		background-position: (0) (40%);

		h1 {
			margin-top: 0;
			margin-left: 24px;

			font-size: 72px;
			color: white;
			font-weight: 700;
			line-height: 1.45em;
		}

		p {
			margin-top: 16px;
			margin-left: 24px;

			color: white;
			font-size: 24px;
			font-weight: 300;
		}

		#houseicon {			
			position: absolute;
			left: 0;
			top: 11em;
			padding: 0;
			height: 46px;
			width: auto;
		}
	}

	.ssform {
		padding-top: 5em;

		h2 {
			margin: 0 0 32px 0;
			color: $rcablue;
			font-size: 48px;
			font-weight: 300;
		}

		.input-block {
			margin-top: 16px;
			background: $k08;
			padding: 32px;

			&:hover {
				background: $k10;
			}

			h3 {
				margin: 0;
				font-size: 16px;
				font-weight: 700;
				color: $k65;
			}

			input[type="text"] {
				font-size: 16px;
				line-height: 1.5;
				background: $k02;
				border: 1px solid lightgray;
				padding: 8px 16px;
			}
		}

		input[type="submit"] {
			background: #70BD36;
			color: white;
			font-size: 24px;
			font-weight: 700;
			padding: 20px 0;
			border: none;
			outline: none;		
			margin-top: 16px;
			margin-bottom: 96px; 
		}
	}

	#footer {
		padding: 0;
		background: $rcablue;
		min-height: 320px;

		.navlinks {
			padding: 48px 0 28px 0;
			list-style-type: none;
			li {
				&:first-child {
					padding-left: 0;
				}

				font-size: 16px;
				color: white;
				opacity: 0.75;

				display: inline-block;
				padding: 12px;
			}

			&.international {
				padding:0;

				li { 
					font-size: 12px;
					padding: 8px; 
				}

				font-weight: 100;

				.title {
					font-weight: 700;
					opacity: 1;
					padding-left: 0;
				}
			}
		}

		img.footer-bg {
			height: 320px;
			margin: 0;

			position: absolute;
			right: 0;
			bottom: 0;
		}

		img.links {
			height: 28px;
			margin-right: 32px;
			margin-bottom: 48px;
		}
	}
}